<!-- <h1>Questions#ask</h1> -->
<p class = "container">Ask your coach anything:</p>
<form class = "container" action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask Something?">
  <input type="submit" value="Ask">
</form>
